.svg-container {
    border: 1px sold grey;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
  border: 1px sold blue;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#company {
  // border: 1px solid blue;
  padding-left: 80px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;

}

/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Arial, Helvetica, sans-serif;
font-size: 120%;
}

path.line-0 {
fill: none;
stroke: #ed3700;
}
