#sidebar {
    padding-right: 40px;
    height: 400px;
}

#ticker span {
  font-family: Montserrat;
}

#ticker {
  // border: 1px solid blue;
  margin-top: 40px
}

#ticker-input {
  margin-top: 4px;
  font-family: Montserrat;
  font-size: 20px;
  background-color: #EEEEEE;
  width: 143px;
  border-radius: 3px;
  padding-left: 3px;
  margin-left: 4px

}

#time {
  font-family: Montserrat;
  margin-top: 30px;
}

#benchmark {
  font-family: Montserrat;
  margin-top: 30px;
}

.field {
    cursor: pointer;
    padding: 10px 5px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    width: 140px;
    // border: 1px solid black;
}

.field:hover:not(.active) {
    background-color: lightgrey;
}

.active {
    border-radius: 3px;
    background-color:#063970;
    color: #FFF;
}
